<header>
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger"></label>

    <nav>
        <ul>
            <li><a href="#home">GSCPH</a></li>
            <li><a href="#application">Projects</a></li>
            <li><a href="#members">Members</a></li>
            <li><a href="#application">Application</a></li>
            <li><a href="#contact">Contact us</a></li>
        </ul>
    </nav>
</header>

<section class="splash">
    <a id="home"></a>
    <div class="logo"></div>
    <div class="wef"></div>
    <div class="grab"></div>
</section>

<section class="intro">
    <h1>Global Shapers Copenhagen<br />The Copenhagen Hub propels projects with a local impact to create global awareness. </h1>

    <div class="place"></div>
</section>

<section class="story">
    <a id="story"></a>

    <h1>Global Shapers Copenhagen</h1>

    <p>The World Economic Forum established Global Shapers as a special community of extraordinary young people in their 20s. The community provides young leaders with a global platform to shape the future — integrating the personal, community and global dimensions of leadership.</p>

    <p>Through the unparalleled convening power of the World Economic Forum, the Global Shapers Community is diverse in demographics, geographical areas and sectors.
    However, it is united by a common desire to channel members’ tremendous energy and enthusiasm into building a more peaceful and inclusive world.</p>

    <p>In the Global Shapers Copenhagen hub our effort to create social impact is centered around four annual workshops, where we engage in advising and consulting social project being small or big.</p>
</section>


<section class="projects">
    <a id="members"></a>

    <h1>Projects</h1>

 <h2>Examples on what we do</h2>

    <p><b>Mind Your Own Business</b>: Help troubled teenage boys from Danish ghettos to turn their street savviness into becoming successful business entrepreneurs. Made in collaboration with Danish Refugee Council and Boston Consulting Group.</p>
 
<p><b>Project Home</b>: Give refugee kids a warm welcome to the Danish society through an interactive theater experience, connecting with the kids through an Arabic version of H.C. Andersen’s fairy tales. Collaboration with Rokoko and The Coca-Cola Company.</p>
 
<p><b>Kids on Vacation</b>: Initiative to make sure all Danish kids gets the opportunity to go on a vacation, which is unfortunately not the case for around 60.000 Danish kids. We are in the process of finding the right collaborators to make the project happen.</p>
 
<p><b>Sexelancen</b>: Highlighting the though conditions of street sex workers often violated and threatened by customers through establishing a “sex ambulance” with more dignity, safety and security. Global Shapers Copenhagen helped structure management of the many volunteers engaged in the project. 
</p>

</section>


<section class="members">
    <a id="members"></a>

    <h1>Members</h1>

    <ul>
    <% members.forEach(function(member) { %>
        <li>
            <div>
                <%- member.url ? '<a href="' + member.url + '">' : '' %>
                    <img src="<%= member.avatar %>" alt="Global Shapers Copenhagen" />
                    <span>
                        <h3><%= member.name %></h3>
                        <p><%= member.description %></p>
                    </span>
                <%- member.url ? '</a>' : '' %>
            </div>
        </li>
    <% }) %>
    </ul>

</section>

<section class="application">
    <a id="application"></a>

    <h1>Application</h1>
    
    <h2>Become a part of Global Shapers Copenhagen</h2>

    <p>If you are in your 20s, based in Copenhagen and have the drive to achieve something extraordinary with social impact, then we would love to hear from you. We do not care what field of study/work you are in or if you plan to impact 5 or 50.000 people – we want to hear what makes you tick and how joining our community will enable you to achieve your goals. 
We take in new applicants twice a year. Next intake is in October – the application deadline is October 7th. 
Let us know how the World Economic Forum network can help you create the impact you would like to see by filling out our application form <a href="https://projectaccess.typeform.com/to/d1vbiw?">here</a>.</p>
</section>

<section class="contact">
    <a id="contact"></a>

    <h1>Contact us</h1>

    <p>Visit us at <a href="https://www.facebook.com/GlobalShapersCPH/?fref=ts">our facebook page</a> or contact our hub at <a href="mailto:hello@globalshaperscopenhagen.dk">hello@globalshaperscopenhagen.dk</a>.</p>
</section>
